<html>
  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        login= <%= login %>
        <a href="/users/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
        <a href="/users/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        <a href="/users/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    </div>
  </body>
</html>
